body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color:#002E23;
}

h1{
    font-size: 45px;
    font-weight: bold;
}

section{
    padding: 100px 20px;
}

section h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.fluxo{
    background-image: radial-gradient(circle, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.85) 100%), url(pexels-kelly-26150412.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
}

/* caixas */

.caixas-fluxo{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.caixa{
    background-color:#f5f5f5;
    padding: 25px;
    min-width: 260px;
    border-radius: 30px;
    text-align: center;
    color: black;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    transition: 0.3s;

    /*border: 5px solid #7ed957;*/
}

.caixa:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 30px rgba(0,0,0,0.25);
}

.beneficios h1{
    background-color:#002E23;
    text-align: center;
    font-size: 25px;
    color: white;
}

.beneficio h3{
    color: black;
}

.beneficio:hover{
    transform: translateY(-8px);
}

.caixas-beneficios{
    display: flex;
    justify-content:center;
    gap: 30px;
}

.beneficio{
    background-color: #F7BA03;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    text-align:start;
    color: black;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.carousel{
    margin: 60px auto;
    width: 95%;
    /*border: 5px solid white;*/
    display: flex;
    overflow: hidden;
}

.group{
    display: flex;
    gap: 30px;
    width: max-content;
    animation: spin 30s infinite linear;
    padding-right: 2em;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}