* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: #DCEDE6;
}

.menu {
    display: flex;
    width: 300px;
    height: 100vh;
    background-color: white;
    left: 0;
    position: sticky;
}

.container {
    display: flex;
    height: 100vh;
    min-width: calc(100vh - 300px);
    flex-direction: column;
    align-items: center;
}

.kpi-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}

.charts-container {
    display: flex;
    gap: 30px;
    width: 90%;
    margin-top: 20px;
    align-items: stretch;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    flex: 1;
}

.chart-container3 {
    flex: 1;
    display: flex;
    height: 100xpx;
}

.chart-container1,
.chart-container2,
.chart-container3 {
    background: #F9FAFB;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;
    height: 250px;
}

canvas {
    width: 100%;
    height: 300px;
}

.kpi-card {
    background: #F9FAFB;
    padding: 25px 35px;
    border-radius: 15px;
    width: 180px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.kpi-card:hover {
    transform: translateY(-5px);
}

.kpi-card h3 {
    font-size: 12px;
    color: #6B7280;
    margin-bottom: 10px;
}

.kpi-card p {
    font-size: 24px;
    font-weight: bold;
    color: #064E3B;
}