* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  height: 100vh;
}

.chart-container1 {
    display: flex;
    position: relative;
    height: 90vh;
    width: 90vh;
    background-color: #ffffff;
}

.chart-container2 {
    display: flex;
    position: relative;
    height: 90vh;
    width: 90vh;
    background-color: #ffffff;
}