<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style-login.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=DM+Sans:wght@300..700&display=swap">

</head>

<body>
    <div class="container">
        <a href="index.html"><img src="/sptech/view/img/CropSens.png" class="logo" /></a>
        <div class="card">
            <div class="form">
                <h1>Bem vindo</h1>
                <p>Acesse a sua conta</p>

                <label>E-mail:</label>
                <input id="ipt_email" type="email" class="email" placeholder="Digite seu e-mail">

                <label>Senha:</label>
                <input id="ipt_senha" type="password" class="senha" placeholder="Digite sua senha">

                <div class="esqueci"><a href=""><span>Esqueci minha senha</span></a></div>

                <button onclick="validar()" class="botao">ACESSAR</button>
                <div class="cadastro texto">Não possui conta? <a href="cadastro.html"><span>Cadastrar</span></a></div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function validar() {
        let email = ipt_email.value.trim()
        let senha = ipt_senha.value.trim()

        if (email.length == 0 || senha.length == 0) {
            alert('Insira os dados')
        } else if (email == 'cliente@exemplo.com' && senha == 'senha123') {
            login()
        } else {
            alert('Conta inexistente')
        }
    }
    function login() {
        window.location.href = 'dashboard.html'
    }
</script>