<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem-Somos</title>
    <link rel="stylesheet" href="quem_somos_style.css">
</head>
<body>
    <div class="container">

    <div class="oi">
        <div class="textos">
            <h3>Quem somos</h3>

            <div class="conteudo">
                <h2>
                    Monitoramento Inteligente para agricultura de precisão, aumentando a rentabilidade da lavoura.
                </h2>
            </div>

            <div class="text_msg">
                Somos uma empresa focada em agricultura e precisão.
            </div><br>

            <div class="subtext">
                Utilizamos sensores, análise de dados e dashboards inteligentes
                para transformar informações da lavoura em decisões estratégicas.
            </div>
        </div>

        <div class="foto">
            <img src="img/Rectangle 20.png">
        </div>
    </div>

</div>
</body>
</html>