<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tela de solução</title>
    <link rel="stylesheet" href="cssTelaSolucao.css">
</head>
<body>

<!--
    Fluxo de Monitoramento
-->

<section class="fluxo">

        <h1 style="color:aliceblue;">Nosso fluxo de monitoramento</h1>

    <div class="carousel">    

        <div class="group">

            <div class="caixa">

                <h3>O sensor faz a medição da altura do milho</h3>
            
            </div>

            <div class="caixa">

                <h3>Os dados coletados são armazenados para análise</h3>
            
            </div>

            <div class="caixa">

                <h3>Depois, os dados são apresentados em dashboards</h3>
            
            </div>

            <div class="caixa">

                <h3>O sensor faz a medição da altura do milho</h3>
            
            </div>

            <div class="caixa">

                <h3>Os dados coletados são armazenados para análise</h3>
            
            </div>

            <div class="caixa">

                <h3>Depois, os dados são apresentados em dashboards</h3>
            
            </div>

            <div class="caixa">

                <h3>O sensor faz a medição da altura do milho</h3>
            
            </div>

            <div class="caixa">

                <h3>Os dados coletados são armazenados para análise</h3>
            
            </div>

            <div class="caixa">

                <h3>Depois, os dados são apresentados em dashboards</h3>
            
            </div>

        </div>

    </div>

</section>
    <!--
    
    BENEFÍCIOS DO SISTEMA

    -->
    <section class="beneficios">

        <h1 class="beneficios h1">Benefícios do sistema</h1>

        <div class="caixas-beneficios">

                <div class="beneficio">
                    
                    <h3>Aumento de produtividade:</h3>

                        <p>
                            O monitoramento contínuo da altura das plantas permite identificar o 
                            momento ideal para a colheita do milho, ajudando o agricultor a aproveitar
                            o melhor potencial de sua plantação.
                            </p>
                </div>
                        
                <div class="beneficio">
                    <h3>Redução de perdas:</h3>

                        <p>
                            Acompanhar o crescimento das plantas em tempo real ajuda a evitar 
                            colheitas precoces ou tardias, que podem trazer prejuízos financeiros.
                            </p>
                        
                </div>
                        
                <div class="beneficio">
                    <h3>Melhor tomada de decisões:</h3>

                        <p>
                            Os dados são coletados, armazenados e transformados em gráficos 
                            e relatórios, permitindo o acompanhamento da lavoura e comparar diferentes 
                            colheitas, ajudando na tomadas de decisões mais concretas.
                            </p>
                </div>       
                
            </div>

        </div>

    </section>

</body>
</html>